@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<project.NETMVC.Models.Blog>
@{
    ViewData["Title"] = "Tin Tức - Trang " + ViewBag.CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-blog set-bg" data-setbg="assets/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Tin Tức</h2>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic set-bg" data-setbg="/images/blogs/@item.Image"></div>
                            <div class="blog__item__text">
                                <span><img src="assets/img/icon/calendar.png" alt="">@item.CreateDate </span>
                                <h5>@item.Title</h5>
                                <a href="@Url">Đọc Thêm</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div aria-label="Page navigation example" class="mt-4">
        <ul class="pagination">
            <pager class="pager-container" list="@Model" asp-area="" asp-controller="Blog" asp-action="Index" />
        </ul>
    </div>
</section>
<!-- Blog Section End -->
