
@{
    ViewData["Title"] = "Blog Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-blog set-bg" data-setbg="assets/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Tin Tức</h2>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="assets/img/blog/blog-1.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="assets/img/icon/calendar.png" alt=""> 16/02/2020</span>
                        <h5>Xu hướng thời trang năm 2023</h5>
                        <a href="blog-details.html">Đọc Thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="assets/img/blog/blog-2.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="assets/img/icon/calendar.png" alt=""> 21/02/2020</span>
                        <h5>Cách chọn áo thun nam phù hợp với dáng người</h5>
                        <a href="#">Đọc Thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="assets/img/blog/blog-3.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="assets/img/icon/calendar.png" alt=""> 28/02/2020</span>
                        <h5>Những tông màu dự đoán “lên ngôi” trong năm 2022</h5>
                        <a href="#">Đọc Thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="assets/img/blog/blog-4.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="assets/img/icon/calendar.png" alt=""> 17/05/2020</span>
                        <h5>Cách phối quần áo đẹp mùa đông</h5>
                        <a href="#">Đọc Thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="assets/img/blog/blog-5.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="assets/img/icon/calendar.png" alt=""> 21/09/2020</span>
                        <h5>Xu hướng màu HOT TREND năm 2022</h5>
                        <a href="#">Đọc Thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="assets/img/blog/blog-6.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="assets/img/icon/calendar.png" alt=""> 28/02/2020</span>
                        <h5>Người trẻ khoe phong cách unisex trên phố Hà Nội</h5>
                        <a href="#">Đọc Thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="assets/img/blog/blog-7.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="assets/img/icon/calendar.png" alt=""> 16/09/2020</span>
                        <h5>Vũ Việt Hà kết hợp thổ cẩm và phong cách vị lai</h5>
                        <a href="#">Đọc Thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="assets/img/blog/blog-8.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="assets/img/icon/calendar.png" alt=""> 21/01/2020</span>
                        <h5>Xây dựng phong cách thời trang quý tộc châu Âu</h5>
                        <a href="#">Đọc Thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="assets/img/blog/blog-9.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="assets/img/icon/calendar.png" alt=""> 28/08/2020</span>
                        <h5>Khám phá phong cách quý tộc Châu Âu</h5>
                        <a href="#">Đọc Thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

