@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<project.NETMVC.Models.Product>
@{
    int currentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách sản phẩm - trang " + currentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-inner">
    <div class="page-header">
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="fas fa-angle-right"></i>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">Danh sách sản phẩm : trang @currentPage</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Danh sách sản phẩm</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="basic-datatables_length">
                                        <label>
                                            <i class="prefix-icon anticon anticon-search opacity-04" style="top: 20.2px;position: absolute; left: 3px;opacity: 0.3;"></i>
                                            <input id="keyword" name="keyword" type="text" class="form-control input-border-bottom" required="" placeholder="Tìm kiếm sản phẩm">
                                        </label>
                                        <label>
                                            <select class=" form-control form-control-sm" style="min-width: 160px; padding: .55rem .5rem !important;" id="txtCatID" name="txtCatID" asp-items="ViewBag.Danhmuc">
                                                <option disabled selected>Chọn Danh Mục</option>
                                                <option value="0">Chọn Tất Cả</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="basic-datatables_filter" class="dataTables_filter">
                                        <a class="btn btn-success" asp-controller="AdminProducts" asp-action="Create">
                                            <span style="color: #fff;font-weight:600;">
                                                <span class="btn-label">
                                                    <i class="fa fa-plus"></i>
                                                </span>
                                                Thêm sản phẩm
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="basic-datatables" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                                        <thead class="text-center">
                                        <th class="text-center" tabindex="0" aria-controls="multi-filter-select" rowspan="1" colspan="1" style="width: 20px; background: #dbdbdb; ">ID</th>
                                        <th class="text-center" tabindex="0" aria-controls="multi-filter-select" rowspan="1" colspan="1" style="width: 150px; background: #dbdbdb; ">Tên sản phẩm</th>
                                        <th class="text-center" tabindex="0" aria-controls="multi-filter-select" rowspan="1" colspan="1" style="width: 120px; background: #dbdbdb; ">Danh mục</th>
                                        <th class="text-center" tabindex="0" aria-controls="multi-filter-select" rowspan="1" colspan="1" style="width: 110.8px; background: #dbdbdb; ">Giá</th>
                                        <th class="text-center" tabindex="0" aria-controls="multi-filter-select" rowspan="1" colspan="1" style="width: 86.5px; background: #dbdbdb; ">Tồn kho</th>
                                        <th class="text-center" tabindex="0" aria-controls="multi-filter-select" rowspan="1" colspan="1" style="width: 87.512px; background: #dbdbdb; ">Trạng thái</th>
                                        <th class="text-center" style="width: 252px; background: #dbdbdb; "></th>
                                        </thead>
                                        <tbody id="records_table" class="text-center">
                                           
                                        </tbody>
                                    </table>
                                    <div aria-label="Page navigation example" class="mt-4">
                                        <ul class="pagination">
                                            <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminProducts" asp-route-CateID="@ViewBag.CurrentCateID" asp-action="Index" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* scripts to filter and search products *@
@section Scripts{
    <script>
        $(document).ready(function () {
            //script filter
            //when id change then
            jQuery("#txtCatID").change(function () {
                //set id= selected
                var catID = jQuery(this).children(":selected").attr("value");
                catID = parseFloat(catID);
                //get option and change when changed
                $('#txtCatID option')
                    .removeAttr('selected');
                $("#txtCatID > [value=" + catID + "]").attr("selected", "true");
                //call ajax function
                $.ajax({
                    url: '/Admin/AdminProducts/Filtter',
                    //set data type to json
                    datatype: "json",
                    type: "GET",
                    data: {
                        CatID: catID
                    },
                    async: true,
                    //if success then send redirect to url and call filter function in AdminProductController
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    //else error
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });

            //search script
            //when keyup then call function
            $("#keyword").keyup(function () {
                //get value from input and send to url by post method like filter
                //return a result(partial view) and send data to record table (# in Indexproduct)
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/Admin/Search/FindProduct/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>
}