@model project.NETMVC.Models.Location

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-inner">
    <div class="page-header">
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="fas fa-angle-right"></i>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="AdminLocations" asp-action="Index">Danh sách tỉnh-thành</a>
            </li>
        </ul>
    </div>


    @* entype to upload file with condition *@
    <form asp-controller="AdminLocations" asp-action="Edit" asp-route-id="@Model.LocationId" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="LocationId" />
        <div class="page-inner">
            <div class="col-md-12">
                <div class="" page-header no-gutters has-tab">
                    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                        <div class="m-b-15" style="position: absolute;top: 0px;right: 10px;">
                            <button class="btn btn-primary" type="submit">
                                <i class="anticon anticon-save"></i>
                                <span>Save</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Thông Tin Cơ Bản</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content m-t-15">
                <div class="tab-pane fade show active" id="product-edit-basic">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="font-weight-semibold" for="productName">Tên Tỉnh thành</label>
                                <input type="text" class="form-control" asp-for="Conscious">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
