 <!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="~/assets/img/footer-logo.png" alt=""></a>
                    </div>
                    <p>Cảm ơn bạn đã quan tâm, chúng tôi mong muốn là một trong những lựa chọn hàng đầu của bạn.</p>
                    <a href="#"><img src="~/assets/img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Thông tin</h6>
                    <ul>
                        <li><a href="#">Cửa hàng</a></li>
                        <li><a href="#">Xu hướng</a></li>
                        <li><a href="#">Bán chạy</a></li>
                        <li><a href="#">Ưu đãi hấp dẫn</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Mua sắm</h6>
                    <ul>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Phương thức thanh toán</a></li>
                        <li><a href="#">Giao hàng</a></li>
                        <li><a href="#">Hoàn trả - đổi hàng</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>Thông tin mới</h6>
                    <div class="footer__newslatter">
                        <p>Hãy là người đầu tiên biết về những cửa hàng mới, thông tin mặt hàng bán chạy nhất & khuyến mãi!</p>
                        <form action="#">
                            <input type="text" placeholder="Email của bạn">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>
                        MaleFashion ©
                        <script>document.write(new Date().getFullYear());</script>2022 Bảo lưu mọi quyền | Được thiết kế <i class="fa fa-heart-o" aria-hidden="true"></i> bởi <a href="https://colorlib.com" target="_blank">Nhom1</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
