<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <span class="text-white">Miễn phí vận chuyển và đổi trả trong vòng 30 ngày nếu có lỗi</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a href="/dang-nhap">ĐĂNG NHẬP</a>
                            <a href="#"> | </a>
                            <a href="/dang-ky">ĐĂNG KÝ</a>
                            <a href="#">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="header__logo">
                    <a asp-controller="Home" asp-action="Index"><img src="~/assets/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li id="headerIndex"><a href="/">Trang chủ</a></li>
                        <li><a asp-controller="Product" asp-action="Index"  id="headerShop">Sản phẩm</a></li>

                        <!--                            <li><a href="#">Pages</a>-->
                        <!--                                <ul class="dropdown">-->
                        <!--                                    <li><a href="./about.html">About Us</a></li>-->
                        <!--                                    <li><a href="./shop-details.html">Shop Details</a></li>-->
                        <!--                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>-->
                        <!--                                    <li><a href="./checkout.html">Check Out</a></li>-->
                        <!--                                    <li><a href="./blog-details.html">Blog Details</a></li>-->
                        <!--                                </ul>-->
                        <!--                            </li>-->
                        <li><a asp-controller="Blog" asp-action="Index" id="headerBlog">Tin tức</a></li>
                        <li><a asp-controller="Home" asp-action="Contact"  id="headerContact">Liên hệ</a></li>
                        <li><a asp-controller="Home" asp-action="About"  id="headerAbout">Về chúng tôi</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#"><img src="~/assets/img/icon/cart.png" alt="" onmouseover="showCart(); hideWishList()"> </a>
                    <span id="numProd">0</span>
                    <div id="triangle" onmouseleave="hideCart()"></div>
                    <div id="showCart" onmouseleave="hideCart()">
                        <table class="listProd">
                            <p><span>Thêm sản phẩm mới vào giỏ hàng</span></p>
                            <tbody id="myCart">
                            </tbody>
                        </table>
                        <table class="tabFooter">
                            <tr>
                                <td>
                                    <p><span>Còn x sản phẩm trong giỏ hàng</span></p>
                                </td>
                                <td><a href="shopping-cart.html"><button>Xem Giỏ Hàng</button></a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="price" onmousemove="hideCart()">$0.00</div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
