@model project.NETMVC.ModelView.HomeVM

@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> allProduct = ViewBag.AllProducts;
}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="/assets/img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Bộ sưu tập mùa hè</h6>
                            <h2>Bộ sưu tập thu đông 2023</h2>
                            <p>Thiết kế độc đáo, phá cách cùng chất liệu vải dày giúp cơ thể bạn sẽ luôn được sưởi ấm giữa mùa đông lạnh giá này.</p>
                            <a asp-controller="Product" asp-action="Index" class="primary-btn">Mua ngay <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="/assets/img/hero/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Bộ sưu tập mùa hè</h6>
                            <h2>Bộ sưu tập thu đông 2023</h2>
                            <p>Thiết kế trẻ trung sang trọng, xu hướng thời trang đẹp mắt và luôn phù hợp với giới trẻ. Được cam kết về chất lượng của sản phẩm và thương hiệu.</p>
                            <a href="#" class="primary-btn">Mua ngay <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Banner Section Begin -->
<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="/assets/img/banner/banner-1.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Áo polo</h2>
                        <a asp-controller="Product" asp-action="Index">mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="/assets/img/banner/banner-2.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Áo thun</h2>
                        <a asp-controller="Product" asp-action="Index">mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="/assets/img/banner/banner-3.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2> Áo khoác</h2>
                        <a asp-controller="Product" asp-action="Index">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @*<ul class="filter__controls">
                        <li class="active" data-filter="*">Bán chạy</li>
                        <li data-filter=".new-arrivals">Sản phẩm mới</li>
                        <li data-filter=".hot-sales">Ưu đãi</li>
                    </ul>*@

                <h2 class="text-center" style="font-weight: 750;">SẢN PHẨM NỔI BẬT</h2>
                <hr />
            </div>
        </div>
        <div class="container tab-content">
            <div class="tab-pane fade show active " id="all-items" role="tabpanel" aria-labelledby="all-items-tab">
                @await Html.PartialAsync("_ListProductPartialView", allProduct)
            </div>
            @foreach (var item in Model.Products)
            {
                <div class="tab-pane fade" role="tabpanel" aria-labelledby="fresh-fruits-tab">
                    @await Html.PartialAsync("_ListProductPartialView", item.products)
                </div>
            }
        </div>
    </div>
</section>
<!-- Product Section End -->

<section class="categories spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="categories__text">
                    <h2>Sản phẩm ưu đãi <br /> <span>Bộ sưu tập </span> <br /> Áo Polo</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories__hot__deal">
                    <img src="/assets/img/product-sale.png" alt="">
                    <div class="hot__deal__sticker">
                        <span> Giảm còn:</span>
                        <h5>199,999đ</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="categories__deal__countdown">
                    <span>Giao dịch trong tuần</span>
                    <h2>Multi-pocket Chest Bag Black</h2>
                    <div class="categories__deal__countdown__timer" id="countdown">
                        <div class="cd-item">
                            <span>3</span>
                            <p>Ngày</p>
                        </div>
                        <div class="cd-item">
                            <span>1</span>
                            <p>Giờ</p>
                        </div>
                        <div class="cd-item">
                            <span>50</span>
                            <p>Phút</p>
                        </div>
                        <div class="cd-item">
                            <span>18</span>
                            <p>Giây</p>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">Mua ngay</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Instagram Section Begin -->
<section class="instagram spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="instagram__pic">
                    <div class="instagram__pic__item set-bg" data-setbg="/assets/img/instagram/instagram-1.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/assets/img/instagram/instagram-2.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/assets/img/instagram/instagram-3.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/assets/img/instagram/instagram-4.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/assets/img/instagram/instagram-5.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/assets/img/instagram/instagram-6.jpg"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="instagram__text">
                    <h2>Instagram</h2>
                    <p>
                        Male fashion được thành lập năm 2019 là thương hiệu thời trang vô cùng quen thuộc đối với các bạn trẻ ở Việt Nam bởi sự đa dạng và chất lượng của các sản phẩm. Male fashion chuyên cung cấp và phân phối các loại áo thun, áo hoodie
                        và thậm chí là polo để các bạn có đa dạng những sự lựa chọn
                    </p>
                    <h3>#Male_Fashion</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Instagram Section End -->
<!-- Latest Blog Section Begin -->
<section class="latest spad">
        @if (Model.blogs != null && Model.blogs.Count() > 0)
        {
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <span>Tin gần đây</span>
                            <h2>Xu hướng thời trang mới</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model.blogs)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="blog__item">
                                <div class="blog__item__pic set-bg" data-setbg="/images/blogs/@item.Image"></div>
                                <div class="blog__item__text">
                                    <span><img src="/assets/img/icon/calendar.png" alt="">@item.CreateDate</span>
                                    <h5>@item.Title</h5>
                                    <a  asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId">Đọc thêm</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
</section>
<!-- Latest Blog Section End -->