.login {
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    margin: auto;
    padding: 40px;
}

.l-container {
    width: 80%;
    margin: auto;
    background: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
}

.grid {
    width: 33.33%;
    margin: auto;
}

.l-title {
    font-size: 48px;
    font-weight: bold;
}

.l-content {
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 8px;
}

.l-content span {
    color: #e53637;
}

.f-control {
    cursor: pointer;
    width: 100%;
    background: #f3f2ee;
    border: none;
    border-radius: 10px;
    margin-bottom: 16px;
    padding: 16px 24px;
    resize: vertical;
}

.l-btn {
    width: 100%;
    background: #212529;
    border-radius: 10px;
    padding: 16px 24px;
    margin: 24px 0px;
}

.l-btn:hover {
    background: whitesmoke;
}

.l-btn:hover span {
    color: #212529;
}

.l-text {
    color: #f5f5f5;
    font-size: 20px;
    font-weight: bold;
}

.content-text {
    color: #212529;
}

.content-text:hover {
    color: #212529;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .l-container {
        width: 100%;
    }
    .grid {
        width: 95%;
    }
    .l-title {
        font-size: 43px;
    }
}