<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-primary">
                <li class="nav-item active">
                    <a data-toggle="collapse" asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Components</h4>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Index">
                        <i class="fas fa-truck"></i>
                        <p>Quản lý đơn hàng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">
                        <i class="fas fa-tshirt"></i>
                        <p>Quản lý sản phẩm</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="AdminCustommers" asp-action="Index">
                        <i class="fas fa-user-cog"></i>
                        <p>Quản lý khách hàng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#tables">
                        <i class="fas fa-table"></i>
                        <p>Doanh số</p>
                        <span class="caret"></span>
                    </a>
                    @*<div class="collapse" id="tables">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="tables/tables.html">
                                    <span class="sub-item">Basic Table</span>
                                </a>
                            </li>
                            <li>
                                <a href="tables/datatables.html">
                                    <span class="sub-item">Datatables</span>
                                </a>
                            </li>
                        </ul>
                    </div>*@
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#maps">
                        <i class="fas fa-server"></i>
                        <p>Quản lý hệ thống </p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="maps">
                        <ul class="nav nav-collapse">
                            <li>
                                <a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">
                                    <span class="sub-item">Quản lý tài khoản</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">
                                    <span class="sub-item">Quản lý danh mục</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">
                                    <span class="sub-item">Quản lý quyền truy cập</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="AdminLocations" asp-action="Index">
                                    <span class="sub-item">Quản lý tỉnh thành</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="AdminShippers" asp-action="Index">
                                    <span class="sub-item">Quản lý shipper</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="AdminBlogs" asp-action="Index">
                        <i class="far fa-newspaper"></i>
                        <p>Quản lý tin tức</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="AdminPages" asp-action="Index">
                        <i class="fas fa-list"></i>
                        <span class="sub-item">Quản lý Page</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>